div ul li {
    color:black;
    text-decoration: none;
	 list-style-type: none;
     border-bottom: 1px solid gray;
     padding-bottom: 5px;
}

div a{
	color:black;
    text-decoration: none;
}
	


body.b{
	margin-left: 250px;
	background-color:white;
	
}
.wid{
	width:100%;
}

div{
  background-color:#F8F8FF;
   margin-right:200px;
 
}
.S{
 
		color:white;
		display:inline-FLEX;
   text-decoration:none;
  background-color:gray;
}

.div{
   width:100%;
  background-color: ORANGE;  
}

.img{
  width:30px;
}
.img1{
  width:15px;
  padding-right:3px
}

.n{
	  
   color:white;
  display:inline-flex;
  text-decoration:none;
  padding-left:20px;
  padding:15px;
}


span.sr{
    background-color:gray;
	 padding:15px;
  
}

span.st{
	 padding-left:15px;
     padding:15px;
	 
	
}
span.st:hover{
	color:black;
	background-color:black;;
	
}

.new{
    color:WHITE;
    

}

